@model TradePayablesMVC2017.Models.JoinedDataListModel

@{
    ViewBag.Title = "JoinedData";
}

<h2>Joined PO Data</h2>

<div class="">

    <table id="joinedInvoicesTable" 
           class="table table-striped table-bordered table-hover table-responsive table-condensed" 
           style="width:100%; display:none">

        <thead>
            <tr>
                <th>Purchasing Document</th>
                <th>Vendor</th>

                <th>Industry</th>
                <th>V_Industry</th>

                <th>Amount in Local</th>
                <th>Document Date</th>
                <th>Posting Date</th>
                <th>Payment Date</th>

                <th>Payment Terms</th>
                <th>Credit Period</th>
                <th>V_Credit Period</th>

                <th>CP Merged?</th>
                <th>Industry Merged?</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Invoices != null)
            {
                foreach (var item in Model.Invoices)
                {
            <tr data-row-id="@item.InvoiceKey">
                    <td>@item.PurchasingDocument</td>
                    <td>@item.Vendor</td>
                    <td class="@(item.Ind_Merged =="true"?"processed":"")">@item.Industry</td>
                    <td>@item.V_Industry</td>
                    <td>@item.AmountLocal</td>
                    <td>@item.DocumentDate</td>
                    <td>@item.PostingDate</td>
                    <td>@item.PaymentDate</td>
                    <td>@item.PaymentTerms</td>
                    <td class="@(item.CP_Merged =="true"?"processed":"")">@item.CreditPeriod</td>
                    <td>@item.V_Credit_Period</td>
                    <td>@item.CP_Merged</td>
                    <td>@item.Ind_Merged</td>
                
                </tr>
                }
            }
        </tbody>
    </table>
</div>
    @*<button id="saveChangesBtn" class="btn btn-primary" style="margin-top: 20px;">Save Changes</button>*@

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

        <script>
            $(document).ready(function () {

                $('#joinedInvoicesTable thead th').each(function () {
                    var title = $(this).text();
                    $(this).html('<div class="filter"> <p>' + title + '</p> <input  type="text"  placeholder ="Search"/> </div>');
                });

                // DataTable initialization
                var table = $('#joinedInvoicesTable').DataTable({
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    // Make certain columns editable
                    "columnDefs": [
                        { "targets": [1, 2, 4, 5], "className": "" } // Make Vendor, Industry, Payment Terms, Doc Header Text editable
                    ]
                });

                table.columns().every(function () {
                    var that = this; // Store reference to the column API instance

                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });

            });

            $(document).ready(function () {
                $("#joinedInvoicesTable").css("display", "block")
            })
        </script>

        <style>
            .processed {
                background-color: burlywood;
            }

            .filter {
                max-width: 100px;
            }

                .filter > input {
                    width: clamp(80px, 100px, 120px); /* Example: min of 80px, preferred 100px, max of 120px */
                }
        </style>
    }

